.film {
  display: flex;
  position: relative;
  border: 2px solid black;
  margin: 0.4rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: -5px 5px rgba($color: #000000, $alpha: 0.3);

  img {
    transition-duration: 500ms;
  }
  p {
    display: flex;
    font-size: 4rem;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}

.seen {
  opacity: 1;
}
.unseen {
  opacity: 0;
}

.hoverButton {
  position: absolute;
  z-index: 10;
  width: 30px;
  height: 30px;
  background: magenta;
  border-radius: 100%;
  margin: 0.4rem;
  padding: 0 0;
  font-size: 2rem;
  font-family: 'GTSuperDisplay';
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}
