@font-face {
  font-family: 'GTSuperDisplay';
  src: url('/fonts/GTSuperDisplay/GT-Super-Display-Bold.ttf');
  font-style: bold;
}
@font-face {
  font-family: 'GTSuperDisplay Light';
  src: url('/fonts/GTSuperDisplay/GT-Super-Display-Light.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'GTSuperDisplay Italic';
  src: url('/fonts/GTSuperDisplay/GT-Super-Display-Light-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Aeroport';
  src: url('/fonts/Aeroport/Aeroport-Bold.ttf');
  font-style: bold;
}
@font-face {
  font-family: 'Aeroport Light';
  src: url('/fonts/Aeroport/Aeroport-Light.ttf');
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'GTSuperDisplay';
  position: relative;
}

a {
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

button {
  border: 2px solid black;
}
